Demo/JAKA_Serve/flows.json
[
    {
        "id": "25e064269a3613d9",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef1dd6630052a033",
        "type": "http request",
        "z": "25e064269a3613d9",
        "name": "SetDO",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "172.30.2.216/webapp/api/grpcRequest/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "robotIp",
                "valueType": "other",
                "valueValue": "127.0.0.1"
            }
        ],
        "x": 490,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e4653bece5ca084e",
        "type": "function",
        "z": "25e064269a3613d9",
        "name": "复位判断",
        "func": "// 获取心跳中的错误码和错误信息\nconst heartbeat = JSON.parse(msg.payload).data.heartbeat\nconst errcode = heartbeat.errcode\nconst errstring = heartbeat.errstring\n\n// 定义需要复位DO的错误码,十六进制。\nconst resetCode = [\n    0x309082,//急停\n    0x0F0018,//到达奇异点\n]\n\n\nmsg.payload = resetCode.includes(errcode)\n\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "3584f2a176b793c1"
            ]
        ]
    },
    {
        "id": "318112b25cfa0433",
        "type": "inject",
        "z": "25e064269a3613d9",
        "name": "获取机器人信息",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ip\":\"127.0.0.1\",\"reqtype\":10013}",
        "payloadType": "json",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "8506429b95ebce3a"
            ]
        ]
    },
    {
        "id": "8506429b95ebce3a",
        "type": "http request",
        "z": "25e064269a3613d9",
        "name": "HeartBeat",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "172.30.2.216/webapp/api/grpcRequest/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "robotIp",
                "valueType": "other",
                "valueValue": "127.0.0.1"
            }
        ],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "e4653bece5ca084e"
            ]
        ]
    },
    {
        "id": "db339285a1fbe402",
        "type": "function",
        "z": "25e064269a3613d9",
        "name": "复位DO2",
        "func": "// 定义需要复位的Do\nconst resetDo = { \"type\": 4, \"index\": 1, \"value\": 1 }\n\nmsg.payload = {\n    \"reqtype\": 10007,\n    \"ip\": \"127.0.0.1\",\n    \"dout\": resetDo\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 580,
        "wires": [
            [
                "ef1dd6630052a033"
            ]
        ]
    },
    {
        "id": "3584f2a176b793c1",
        "type": "switch",
        "z": "25e064269a3613d9",
        "name": "是否检测到指定错误？",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 220,
        "wires": [
            [
                "a4489cfdfc8e5709"
            ]
        ]
    },
    {
        "id": "6e7f0b35af33385f",
        "type": "debug",
        "z": "25e064269a3613d9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "d150d08f4521bdf2",
        "type": "http request",
        "z": "25e064269a3613d9",
        "name": "SetDO",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "172.30.2.216/webapp/api/grpcRequest/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "robotIp",
                "valueType": "other",
                "valueValue": "127.0.0.1"
            }
        ],
        "x": 410,
        "y": 360,
        "wires": [
            [
                "531f3427e014a27f",
                "6e7f0b35af33385f"
            ]
        ]
    },
    {
        "id": "b8d1cbbba467512d",
        "type": "function",
        "z": "25e064269a3613d9",
        "name": "停止程序",
        "func": "msg.payload = {\n    \"reqtype\": 10009,\n    \"ip\": \"127.0.0.1\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 360,
        "wires": [
            [
                "d150d08f4521bdf2"
            ]
        ]
    },
    {
        "id": "a4489cfdfc8e5709",
        "type": "link out",
        "z": "25e064269a3613d9",
        "name": "复位信号",
        "mode": "link",
        "links": [
            "77bac43717a73f28"
        ],
        "x": 935,
        "y": 220,
        "wires": []
    },
    {
        "id": "77bac43717a73f28",
        "type": "link in",
        "z": "25e064269a3613d9",
        "name": "停止程序",
        "links": [
            "a4489cfdfc8e5709"
        ],
        "x": 105,
        "y": 360,
        "wires": [
            [
                "b8d1cbbba467512d"
            ]
        ]
    },
    {
        "id": "5ad48ef4eed01396",
        "type": "link out",
        "z": "25e064269a3613d9",
        "name": "程序已停止",
        "mode": "link",
        "links": [
            "477515937436c035",
            "26cd8ce785cacabf"
        ],
        "x": 875,
        "y": 360,
        "wires": []
    },
    {
        "id": "531f3427e014a27f",
        "type": "function",
        "z": "25e064269a3613d9",
        "name": "function 1",
        "func": "const code = JSON.parse(msg.payload).data.errcode\n\nmsg.payload = false\n\nif(code == 0){\n    msg.payload =  true\n}\n\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "756db371f2b6dff5"
            ]
        ]
    },
    {
        "id": "756db371f2b6dff5",
        "type": "switch",
        "z": "25e064269a3613d9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "5ad48ef4eed01396"
            ]
        ]
    },
    {
        "id": "477515937436c035",
        "type": "link in",
        "z": "25e064269a3613d9",
        "name": "复位DO1",
        "links": [
            "5ad48ef4eed01396"
        ],
        "x": 105,
        "y": 560,
        "wires": [
            [
                "db339285a1fbe402",
                "39b7a9930ff8b81a"
            ]
        ]
    },
    {
        "id": "fd1da95b9a92252c",
        "type": "http request",
        "z": "25e064269a3613d9",
        "name": "SetDO",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "172.30.2.216/webapp/api/grpcRequest/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "robotIp",
                "valueType": "other",
                "valueValue": "127.0.0.1"
            }
        ],
        "x": 490,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "39b7a9930ff8b81a",
        "type": "function",
        "z": "25e064269a3613d9",
        "name": "复位DO1",
        "func": "// 定义需要复位的Do\nconst resetDo = { \"type\": 4, \"index\": 0, \"value\": 1 }\n\nmsg.payload = {\n    \"reqtype\": 10007,\n    \"ip\": \"127.0.0.1\",\n    \"dout\": resetDo\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 520,
        "wires": [
            [
                "fd1da95b9a92252c"
            ]
        ]
    }
]